.DS_Store

.pio/
.pio-core/

.vscode/
!.vscode/extensions.json

/tmp/
sim/build/
*.log
*.tmp
*.bak
data/sd/pokemon/settings.json
data/sd/pokemon/achievements/*.json
data/sd/pokemon/sounds/music/**/*.wav

/.clangd/
